title: "usecase-poc"

folder-intermediate-root: "./etl_templates/intermediate"

ignore-warnings: False

power-designer:
  folder: "./Data model/Central/UsecasePoC"
  files:
    - "UsecaseV2.25b.ldm"
    - "DM_FactPoC.ldm"
    - "DM_DimPoC.ldm"

extractor:
  folder-output: "CentralLayer/Extracted Models"

integrator:
  folder-output: "Integrator"

generator:
  folder-output: "CentralLayer"
  templates-platform: "dedicated-pool"

deployment-mdde:
  folder-output: "CentralLayer/DA_MDDE"
  schema: "MDDE"
  folder-data: "./etl_templates/input/codeList/"
  schemas-datamart:
    - DM_Fact
    - DM_Dim

devops:
  folder: "GIT_repo"
  organisation: "migratie-dataketen-douane"
  project: "Douane%20Datawerkorganisatie"
  repo: "DWO%20DataCenter"
  branch: "collaboration"
  work-item: "23936"
  work-item-description: "Testen automatische uitrol DDL en ETL"
  file-sql-project: "./CentralLayer/3. Central Layer.sqlproj"
